h2{
    text-align: center;
    color: #A020F0;
    margin-top: 2em;
}

.formacao{
    margin-left: 10em;
    margin-top: 2em;
    width: 40em;
    color: #A020F0;
    line-height: 40px;
    font-size: 20px;
}

.formacao ul li{
    list-style: none;
}

.formacao ul li a{
    text-decoration: none;
    color: white;
    margin-bottom: 2em;
}

.formatura{
    margin-left: 60em;
    margin-top: -18em;
}
